
.jumbotron {
  margin-top: 20%;
  background-color: #f87956;
  background-image: url("");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  opacity: .5; 
}



img.imgCalendar {
  position: relative;
  top: 25%;
  left: 18%;
  opacity: 1;
}